@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h3 class="display-6">Olá, Seja Bem Vindo</h3>
    <p>Vejo que você tem interesse de participar do meu 21º aniversário, que ocorrerá no dia 11/02/2020 às 18:00 hrs.</p>
    <p>Por gentileza, confirme se irá ou não está presente clicando <a asp-controller="Guest" asp-action="FormGuest">AQUI</a>.</p>
</div>
